<?xml version="1.0"?>

<robot name="marmotte" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="M_PI" value="3.14159"/>

  <link name="base_link"/>

  <link name="lslidarc16"/>
  <joint name="lslidarc16_joint" type="fixed">
    <origin xyz="0.25834 0 0.30611" rpy="0 -0.178 ${M_PI}" />
    <parent link="base_link" />
    <child link="lslidarc16" />
  </joint>

  <!--link name="realsense_link"/>
  <joint name="realsense_joint" type="fixed">
    <origin xyz="-0.31593 -0.0175 0.34488" rpy="0 0.558505 ${M_PI}" />
    <parent link="base_link" />
    <child link="realsense_link" />
  </joint-->

  <!-- Cameras -->
  <xacro:include filename="$(find marmotte_description)/urdf/cameras.urdf.xacro"/>
</robot>
